<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="{{url_for('static', filename='index.js')}}"></script>
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
        <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    </head>

    <body>
        <!-- This skull gif is by Walter Newton. Please see this link!  -->
        <!-- https://giphy.com/gifs/halloween-dark-skull-l3V0yA9zHe5m29sxW/embed -->
        <img src="https://media1.giphy.com/media/l3V0yA9zHe5m29sxW/giphy.gif"/>

        <h2> Infected Hosts </h2>
        <div id="infected_hosts">
        </div>
    </body>
</html>
